.body{
    background-image: cover;
    background-position: center;
    font-family: 'lobster', cursive;
    color: black;
}
.html{
    height: 100%;
}
#content{
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
}
.img{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
.h1{
    font-weight: 500;
    font-size: 5em;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
}

.social-links li a i:hover{
    background:#e84610;
}
.section-heading{
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px
}
.contact-heading{
    font-family: "Exo",sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}