* {
    margin: 0;
    padding: 0;
}

/*---------NavigationBar-------*/

#navbar {
    position: static;
    top: 0;
    z-index: 10;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #007bff;
}

.navbar {
    background-color: #fff;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: #555;
    font-weight: 600;
    font-size: 16px;
}
/*-------Slider-------*/
#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 35px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img {
    vertical-align: middle;
    border-style: none;
}
/*------------About--------*/
#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    background-color: #efefef
}

#about .btn {
    margin-top: 20px;
    margin-bottom: 30px
}

.about-content {
    padding-top: 20px;
}
.about-img {
    margin-bottom: 10px;
    
}
/*--------------wiki------------*/
#wikipedia {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 70px;
    font-family: sans-serif;
    font-size: 38px;
}
/*---------------------Event--------------*/
#events {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/cover1.jpg");
    background-size: cover;
    background-position: center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
} 

#events h1 {
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}

#events h1:: after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.events{
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px;
    border-radius: 50%;
}

.events p {
    font-size: 35px;
    margin-top: auto;
    color: #fff;
}
/*----------------Get in Touch------------*/
#contact {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form {
    padding: 15px;
}
.form-control {
    border-radius: 0;
    border: none;
}
::placeholder {
    color: #999;
}
.follow {
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa {
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*----------------Footer-------------------*/
#footer {
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o {
    margin: 3px;
    color: red;
}
/*--------------- Music-----------*/
#music {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.media {
  align-items: flex-start;
  display: table;
}

.media-body {
  flex: 1;
}
.video-media{
    width: 100%;
    height: 40vw;
    margin-bottom: 20px;
}

@media(min-width:900px){
    .video-media{
        height: 470px;
    }
}

.audio-content{
    margin-bottom: 25px;
    text-align: center;
}



 


