@import url('https://fonts.googleapis.com/css?family=Caveat:400,600');
.html {
    width: 100%;
}

.body {
    font-family: 'caveat',cursive;
    font-size: 200%;
    color:#000;
}

.navbar {
    background-color: #000;
    border-bottom: 1px solid #777;
}

.navbar-brand {
    min-height: 40px;
}

.navbar-inverse .navbar-nav l1 a:hover {
    color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #777;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: #000;
}

.img.banner {
    width: 100%;
}

.img {
    vertical-align: middle;
    padding-left: 600px;
    padding-top: 75px;
}

#icon {
    max-height: 200px;
    margin: 1% auto;
}

.connect{
    font-size: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -175px;
}

.connect a {
    padding: 3%;
    color: #fff;
}

#home {
    padding-top: 60px;
    max-width: 100%;
}

.background-container {
    height: 100vh;
    
    background: url("../images/monkees.jpg") no-repeat center center fixed;
    background-size: cover;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.text-center{
    font-family: caveat;
    font-size: 40px;
    text-align: center;
    color: #080808;
    padding-top: 60px;
}

.contact-heading{
    font-family: 'caveat',cursive;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

.col-md-9 {
    width: 75%;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}



